.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Cell {
  display: table-cell;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  background-color: rgb(140, 140, 140);
  border: 1px solid black;
  user-select: none;
}

.CellSelect {
  display: table-cell;
  width: 18px;
  height: 18px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  background-color: rgb(200, 200, 220);
  border: 1px solid rgb(25, 25, 75);
  user-select: none;
}